<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap CSS -->
    <link href="css/bootstrap.min.css" rel="stylesheet">

    <title>Login - Proyecto Informatorio - Grupo 8</title>
  </head>
  <body>
    <div class="container">
      <div class="row">
        <div class="col">
          
        </div>
        <div class="col">
          <div class="text-end">
            <img src="img/llogo.png">
            
          </div>
          <h2 class="fw-bold text-center py-5">Bienvenido</h2>
          <!-- LOGIN -->
          <form action="#">
            <div class="mb-4">
              <label for="email" class="form-label">Correo Electronico</label>
              <input type="email" class="form-control" name="email">
            </div>
            <div class="mb-4">
              <label for="password" class="form-label">Password</label>
              <input type="password" class="form-control" name="password">
            </div>
            <div class="mb-4 form-check">
              <input type="checkbox" name="connected" class="form-check-input">
              <label for="connected" class="form-check-label">Manenterme Conectado</label>
            </div>

            <div class="d-grid">
              <button type="submit" class="btn btn-primary">Inicio Sesion</button>
            </div>
            <div class="my-3">
              <span>¿No tienes cuenta?<a href="#">Registrate</a></span><br>
               <span><a href="#">Recuperar Password</a></span>
            </div>
          </form>
          <!-- LOGIN CON REDES SOCIALES-->
          <div class="container w-100 my-5">
            <div class="row text-center">
              <div class="col-12">Iniciar Sesiòn</div>
            </div>
            <div class="row">
                <div class="col">
                  <button class="btn btn-outline-primary w-100 my-1">
                    <div class="row align-items-center">
                      <div class="col-2">
                        <img src="img/face.png" width="32" alt="">
                      </div>
                      <div class="col-10 text-center">
                        Facebook
                      </div>
                    </div>
                  </button>
                </div>
               <div class="col">
                  <button class="btn btn-outline-danger w-100 my-1">
                    <div class="row align-items-center">
                      <div class="col-2">
                        <img src="img/g.png" width="32" alt="">
                      </div>
                      <div class="col-10 text-center">
                        Google
                      </div>
                    </div>
                  </button>
                </div>
              </div>
            </div>            
          </div>
        </div>
      </div>
    </div>
    <!-- Option 1: Bootstrap Bundle with Popper -->
    <script src="js/bootstrap.bundle.min.js"></script>
  </body>
</html>