{% extends "base/base.html" %}{% load static %}

{% block contenido %}
    <a href="{% url 'preguntas:crear' %}" class="btn btn-secondary mr-2">Nueva Pregunta</a>
    <hr>
	<h1>Lista de Preguntas:</h1>
	<table class="table table-striped">
        <thead>
            <tr>
				<th>ID</th>
                <th>Pregunta</th>
                <th>     </th>
            </tr>
        </thead>
        <tbody>
            {% for p in preguntas %}
            <tr>
				<td>{{ p.id }}</td>
                <td>{{ p.texto_pregunta }}</td>
                <td>
                    <a href="{% url 'preguntas:eliminar' p.pk %}">Eliminar</a>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock contenido %}