{% extends "base/base.html" %}{% load static %}

{% block contenido %}
    <a href="{% url 'usuarios:crear_usuario' %}" class="btn btn-secondary mr-2">Nuevo Usuario</a>
    <hr>
	<h1>Lista de Usuarios:</h1>
	<table class="table table-striped">
        <thead>
            <tr>
                <th>ID</th>
                <th>Nombre de usuario</th>
                <th>Email</th>
                <th>Admin</th>
                <th>Último ingreso</th>
                <th>Partidas</th>
                <th>     </th>
            </tr>
        </thead>
        <tbody>
            {% for u in usuarios %}
            <tr>
                <td>{{ u.id }}</td>
                <td>{{ u.username }}</td>
                <td>{{ u.email }}</td>
                <td>{{ u.es_admin }}</td>
                <td>{{ u.last_login }}</td>
                <td>{{ u.partida_set.count }}</td>
                <td>
                    <a href="{% url 'usuarios:editar' u.pk %}">Editar</a>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock contenido %}