{% extends "base/base.html" %}

{% block contenido %}
    <h1>Preguntas: </h1>

    <form method="POST">{% csrf_token %}
        {% for p in preguntas %}
          <fieldset>
            <legend>{{ p }}</legend>
            {% for rta in p.get_respuestas %}
              <input type="radio" name="pta-{{p.id}}" id="rta-{{ rta.id }}" value="{{ rta.id }}">
              <label for="pta-{{ pta.id }}}">{{ rta }}</label><br>
            {% endfor %}
          </fieldset>
        {% endfor %}

      <hr>
      <a href="{% url 'usuarios:inicio' %}" class="btn btn-link mr-2">Salir</a>
      <button type="submit"  class="btn btn-primary">Enviar</button>
    </form>
{% endblock contenido %}