{% extends "base/base.html" %}{% load static %}

{% block contenido %}
    <a href="{% url 'partidas:jugar' %}" class="btn btn-secondary mr-2">Nueva Partida</a>
    <hr>
	<h1>Partidas jugadas:</h1>
	<table class="table table-striped">
        <thead>
            <tr>
				<th>ID</th>
                {% if user.es_admin or user.is_superuser %}
                <th>Usuario</th>
                {% endif %}
                <th>Puntos</th>
                <th>Fecha</th>
            </tr>
        </thead>
        <tbody>
            {% for p in partidas %}
            <tr>
				<td>{{ p.id }}</td>
                {% if user.es_admin or user.is_superuser %}
                <th>{{ p.usuario.username }}</th>
                {% endif %}
                <td>{{ p.puntos }}</td>
                <td>{{ p.fecha }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock contenido %}